<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="https://localhost:5001/api" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Server=.;Database=ContosoStore;Integrated Security=true" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="60" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>
